.board{    
    margin-top:100px;    
}

.board td{    
    border:solid 1px black;
    padding: 20px;
}

.green{
    cursor: pointer;
    background-color: green;
}
.player-name{
    cursor: default;
}